@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
}

nav .left {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
}

nav .left a {
  text-decoration: none;
  color: var(--text-color);
}

nav .right a {
  padding: 0 10px;
  color: var(--text-color);
}

nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}

nav .right span {
  margin-left: 5px;
}

.hero-section {
  padding: 0 50px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  justify-content: space-between;
  gap: 40px;
}

.hero-section img {
  margin-top: 50px;
  margin-left: 40px;
  width: 350px;
  border-radius: 50%;
}

.hero-section .text h1 {
  font-size: 45px;
  font-weight: 600;
  margin: 20px 0;
}

.hero-section .text .links {
  margin-top: 25px;
}

.hero-section .text .links a {
  display: inline-block;
  padding: 5px 15px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.4s;
}

.hero-section .text .links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.skills-section {
  text-align: center;
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2 {
  font-size: 40px;
  font-weight: 600;
  justify-self: center;
}

.skills-section p {
  justify-self: center;
  margin-bottom: 25px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.skills-section .cells .cell {
  margin: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
}

.skills-section .cells .cell span {
  font-size: 16px;
  align-items: center;
  text-align: center;
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.testimony-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.testimony-section h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}

.group {
  display: flex;
  align-items: center;
}

.testimony-section .group img {
  height: 200px;
  width: 200px;
  margin: 0 20px;
  border-radius: 50%;
  object-fit: cover;
}

.testimony-section .group .testimony-group {
  align-items: center;
  text-align: center;
}

.testimony-section .group .testimony-group h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.testimony-section .group .text {
  margin-left: 50px;
}

.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.contact-section h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
}

.contact-section .contact-text {
  display: flex;
}

.contact-section .contact-text p {
  flex: 3;
  margin-right: 80px;
}

.contact-section .contact-text form {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.contact-section .contact-text form input,
.contact-section .contact-text form textarea {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--text-color);
  border: 2px solid var(--link-color);
  padding: 10px 10px;
  margin-bottom: 10px;
  outline: none;
  resize: none;
}

.contact-section .contact-text form button {
  color: var(--background-color);
  background-color: var(--link-color);
  padding: 15px 10px;
  font-size: 16px;
  border: none;
}

.footer {
  padding: 0 50px;
  margin-bottom: 100px;
  color: var(--text-color);
  background-color: transparent;
  align-items: center;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .container h3 a {
  color: var(--text-color);
}

.footer .container ul {
  list-style: none;
}

.footer .container li {
  padding-bottom: 10px;
}

.footer .container li a {
  color: var(--text-color);
}

.footer .container ul a:hover {
  border-bottom: 2px var(--link-color) solid;
}

@media (max-width: 850px) {
  /*Secton 1: Hero  */
  .hero-section .text h1 {
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  body {
    margin: auto;
  }

  .hero-section {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-section .headshot img {
    width: 300px;
    margin-left: 0;
  }

  /* Section 2: Skills 
  .skills-section  .cells {
    display: flex;
 flex-direction: column;
 align-items: center;
  } */

  /* Section 3: Testimony */
  .testimony-section {
    text-align: center;
  }

  .testimony-section .group {
    flex-direction: column;
  }

  .testimony-section .group .text {
    margin-left: 0;
  }

  /* Section 4: Contact */
  .contact-section {
    padding: 0 20px;
    text-align: center;
  }

  .contact-section .contact-text {
    flex-direction: column;
    align-items: center;
    
  }

  .contact-section .contact-text p {
    margin-right: 0;
    
  }
  .contact-section .contact-text form {
    width: 100%;
    margin-top: 3rem;
    text-align: left;
  }

  .footer .container {
    flex-direction: column;
  }

  .footer .container p {
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  /* Navbar */
  nav {
    padding: 0 20px;
  }

  nav .right a {
    font-size: 22px;
  }

  nav .right a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a span {
    display: none;
  }

  /* Section 1: Hero */
  .hero-section {
    padding: 0 20px;
  }

  .hero-section .text h1 {
    font-size: 30px;
  }

  /* Section 2: Skills */
  .skills-section {
    padding: 0 20px;
  }

  .skills-section .cells .cell span {
    font-size: 16px;
  }

  /* Section 3: Testimony */
  .testimony-section {
    padding: 0 20px;
  }

  /* Section 4/: Contact */

  .contact-section .contact-text {
    display: flex;
    flex-direction: column;
  }

  /* Footer */
  .footer {
    padding: 0 20px;
  }
}
